<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urvish.mulitwindowsupportdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnresizableActivity"
            android:resizeableActivity="false"
            android:taskAffinity="" />
        <activity
            android:name=".MinimumSizeActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="">
            <layout
                android:defaultHeight="500dp"
                android:defaultWidth="750dp"
                android:gravity="top"
                android:minHeight="500dp"
                android:minWidth="500dp" />
        </activity>
        <activity
            android:name=".AdjacentActivity"
            android:taskAffinity="" />
        <activity
            android:name=".LaunchBoundsActivity"
            android:taskAffinity="" />
        <activity android:name=".CustomConfigurationChangeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleInstance"
            android:taskAffinity=""/>
        <activity
            android:name=".BasicActivity"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
    </application>

</manifest>